<footer>
	<div class="wrapper wrapper-large">
		<div class="footer-links">
			<div class="about">
				{% include navigation/logo.html %}
				<p>Новый способ организации внеурочной работы для учителей физкультуры. </p>
			</div>
			<ul>
				<li><h4>Physcult.Pullnfit</h4></li>
				<li><a href="/features/">Функции</a></li>
				<li><a href="/become-a-partner/">Стать партнером</a></li>
				<li><a href="/pricing/">Цены</a></li>
				<li><a href="/blog/">Блог</a></li>
				<li><a href="/about/">О нас</a></li>
				<li><a href="/careers/">Карьера</a></li>
			</ul>
			<ul>
				<li><h4>Ресурсы</h4></li>
				<li><a href="https://help.physcult.pullnfit.ru">Помощь</a></li>
				<li><a href="/experts/">Эксперты</a></li>
				<li><a href="/contact/">Контакты</a></li>
				<li><a href="http://yasobe.ru/na/physcultpullnfit">Оплата</a></li>
			</ul>
			<ul>
				<li><h4>Сервис</h4></li>
				<li><a href="#">Зарегистрироваться</a></li>
				<li><a href="https://www.google.com/intl/ru/calendar/about/">Календарь</a></li>

			</ul>
			<ul class="contact">
				<li><h4>Связаться с нами</h4></li>
				<li><a href="mailto:walkingstartup@gmail.com">walkingstartup@gmail.com</a></li>
				<li class="social">
					<a class="vkontakte" href="https://vk.com/Physcult.Pullnfit">{% include svgs/social-icon.html icon="vkontakte" %}</a>
					<a class="instagram" href="https://www.instagram.com/Physcult.Pullnfit">{% include svgs/social-icon.html icon="instagram" %}</a>
					<a class="twitter" href="https://twitter.com/Physcult.Pullnfit">{% include svgs/social-icon.html icon="twitter" %}</a>
					<a class="facebook" href="https://www.facebook.com/Physcult.Pullnfit">{% include svgs/social-icon.html icon="facebook" %}</a>
					<a class="google-plus" href="https://plus.google.com/+Physcult.Pullnfit">{% include svgs/social-icon.html icon="google-plus" %}</a>
					<a class="youtube" href="https://www.youtube.com/c/Physcult.Pullnfit">{% include svgs/social-icon.html icon="youtube" %}</a>
				</li>
			</ul>

			<div class="filler"></div>
		</div>
	</div>

	<div class="legal-line">
		<p class="wrapper wrapper-large">
			&copy; {{ site.time | date: '%Y' }} Physcult.Pullnfit Ltd &bull;
			<a href="#">Условия</a> &amp;
			<a href="#">Конфиденциальность</a>
		</p>
	</div>
</footer>
