<!--googleoff: index-->
<div class="workflow">
	<h5>Сегодня</h5>
	<ul>
		<li>
			<div class="image editor"></div>
			<div class="commit">
				<h6>Уроки</h6>
				<p>8:30 - 13:00</p>
			</div>
		</li>
		<li>
			<div class="image editor"></div>
			<div class="commit">
				<h6>Репетитор (англ)</h6>
				<p>14:00 - 15:30</p>
			</div>
		</li>
		<li>
			<div class="image editor">{% include svgs/logo.html logo="emblem" %}</div>
			<div class="commit">
				<h6>Тренировка #1</h6>
				<p>16:30 - 18:00</p>
			</div>
		</li>
		<li>
			<div class="image editor"></div>
			<div class="commit">
				<h6>ДЗ на завтра</h6>
				<p>19:00 - 21:00</p>
			</div>
		</li>
	</ul>
</div>
<!--googleon: index-->
