---
layout: info-page
title: О нас
permalink: /about/
icons: true
---

<div class="about">
	<h1>Physcult.Pullnfit - это новый способ организации внеурочной работы для учителей физкультуры.</h1>

	<h2>Что движет нами?</h2>
	<p>Наша миссия состоит в том, чтобы сделать физкультуру доступной. Мы считаем, этого можно добиться за счет использования нейросети в области учета и подбора индивидуальных тренировочных программ.</p>

	<h2>Наша команда</h2>
	<p>Основанная в Уфе (Россия) и теперь обслуживающая учителей со всего мира, наша команда увлечена тем, что делает все возможное, чтобы дать возможность каждому учителю физкультуры автоматизировать свою внеурочную работу и заработать, тем самым, хорошие деньги.</p>

	<ul class="mugs">
		{% for person_obj in site.data.authors %}
			{% assign person = person_obj[1] %}
			{% if person.position %}
				<li>
					<div class="image"><img src="{{ person.image }}" alt="{{ person.name }}"></div>
					<p>{{ person.name }}</p>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>
