---
title: Функции
heading: Что мы предлагаем
subtitle: Стать партнером и зарабатывать хорошие деньги в качестве независимого подрядчика
layout: short
permalink: /features/
---
<ul class="workflow-diagram">
	<li>
		<i class="material-icons">event_available</i>
		<p>Тренировочные программы <br>автоматически</p>
	</li>
	<li>
		<i class="material-icons">loyalty</i>
		<p>Мотивация школьников <br>на действия</p>
	</li>
	<li>
		<i class="material-icons">attach_money</i>
		<p>Хороший источник <br>заработка</p>
	</li>
</ul>

<div class="feature-content">
	<h2>Автоматическая тренировочная программа</h2>

	<ul class="cards">
		{% include components/features/data-block.html icon="assignment" title="Изучение школьника" content="Программа должна учесть основные нюансы организма школьника. Особенно важно точно определить возрастные, антропопометрические и психофизиологические особенности. Поэтому мы разработали специальную анкету, которую желательно заполнять вам (чтобы исключить ошибки)." %}

		{% include components/features/data-block.html icon="sync" title="Синхронизация с календарем" content="Согласитесь, школьники часто перегружены уроками и дополнительными занятиями, поэтому они иногда даже немного рассеяны. И чтобы они не забывали, а получали своевременые уведомления о предстоящих тренировках, мы загружаем тренировочные программы прямо в их календарь." %}

		{% include components/features/data-block.html icon="video_library" title="Наглядность упражнений" content="Обычно школьники тратят много времени на поиск и просмотр упражнений в Интернете. Часто ролики многословны и не без скользкой рекламы. И вот, чтобы им было проще и удобно, мы заранее сняли и смонтировали короткие музыкальные видеоклипы для кадлого из упражнений." %}
		
		{% include components/features/data-block.html icon="event_available" title="Адаптация" content="Скорее всего, ваши школьники часто будут пропускать тренировки. И делать это они будут по разным причинам. В таких случаях очень важно, чтобы программа учитывала, состоялась тренировка или нет. К счастью, мы делаем это автоматически - с помощью умного браслета." %}
	</ul>

	<h2>Мотивация клиентов на действия</h2>

	<ul class="cards">
		
		{% include components/features/data-block.html icon="card_giftcard" title="Возврат оплаты и призы" content="Ваши школьники будут мотивированы, с одной стороны, на возврат до 50% оплаченной суммы (при условии, что они совершат челлендж) и, на призы от сервиса, с другой. " %}

		{% include components/features/data-block.html icon="accessibility" title="Контроль активности и отдыха" content="Мы будем контролировать тренировки и отдых, чтобы своевременно внести изменения в программу, с одной стороны, и, чтобы объективно расчитывать мотивацию, с другой." %}
		
	</ul>
	<h2>Хороший источник заработка</h2>

	<ul class="cards">
		
		{% include components/features/data-block.html icon="bubble_chart" title="Бонусы за привлечение" content="Вы получаете личный пригласительный код, которым можете поделиться с друзьями-физруками, заинтересованными в работе с нами в качестве учителя-партнера. Вы получаете бонусы в <a href='#'>следующих случаях</a>." %}

		{% include components/features/data-block.html icon="monetization_on" title="Монетизация внеурочки" content="Монетизируйте свою внеурочную работу. Получайте до 90% с оплат школьников, которые пришли по вашей рекомендации." %}
		
	</ul>
</div>
<script src="/js/features.js"></script>
