---
layout: main-landing
title: Сервис помогает монетизировать внеурочную работу по физкультуре.
permalink: /
cta: "landing_page"
sitemap:
  changefreq: daily
  priority: 0.8
header_class: "landing"
---
<div class="landing-page-content">
  {% include components/home-page/content-image.html image="workflow" heading="Составляйте индивидуальные тренировочные программы автоматически" content_markdown="Тратьте меньше времени на подбор индивидуальных тренировочных программ, консультирование учащихся по вопросам, связанным с тренировочным процессом, ГТО и т.д., и больше - на себя. Сделайте вашу внеурочную работу более наглядной и гибкой." storage_provider_icons=true %}

  {% include components/home-page/content-image.html image="editing" heading="Мотивируйте школьников на действия" content_markdown="Контролируйте регулярности занятий и отдыха автоматически, мотивируйте учащихся на возврат до 50% оплаченной суммы и на призы от компании." %}

  {% include components/home-page/content-image.html image="tools" heading="Зарабатывайте хорошие деньги" content_markdown="Станьте партнером и зарабатывайте хорошие деньги в качестве независимого подрядчика. Получайте еженедельный гонорар лишь за то, что даете возможность тренироваться правильно и недорого тем школьникам, которые хотят стать лучше." %}
</div>

{% assign case = site.case_studies | where: "name", "Netflix" | first %}
{% include components/case-study/quote.html case=case %}



