---
layout: short
heading: Начните работу с Physcult.Pullnfit
subtitle: Попробуйте Physcult.Pullnfit Pro бесплатно в течение 7 дней.
title: Цены
permalink: /pricing/
---
<div class="period">
	<div class="toggle-buttons">
		<a class="button light no-border dark-hover selected monthly" href="#">Ежемесячно</a><a class="button light no-border dark-hover annually" href="#">Ежегодно</a>
	</div>
</div>

<ul class="plans">
	{% for plan in site.data.plans %}
		{% include components/pricing/plan.html plan=plan %}
	{% endfor %}
</ul>

<section class="faq">
	<h2 id="faq">FAQ</h2>

	<ul class="cards">
		{% include components/pricing/faq.html q="Могу ли я попробовать Physcult.Pullnfit бесплатно?" a="Да, конечно. Регистрация на Pro-версию начинается с 7-дневного пробного периода." %}

		{% include components/pricing/faq.html q="Что происходит после 7-дневного пробного периода?" a="Вам следует оплатить подписку на месяц или на год. Цены вы можете уточнить на <a href='https://physcult.pullnfit.ru/pricing/'>сайте</a>." %}

		{% include components/pricing/faq.html q="Могу ли я поменять план?" a="Да чтобы поменять план, вам следует написать в <a href='mailto:walkingstartup@gmail.com'>службу поддержки</a>." %}

		{% include components/pricing/faq.html q="Принимаете ли вы пожелания?" a="Да, мы внимательно прислушиваемся к нашим клиентам. Если у вас есть запросы или отзывы, пожалуйста, обратитесь в <a href='mailto:walkingstartup@gmail.com'>службу поддержки</a>. Многие функции Physcult.Pullnfit зависят от ваших отзывов." %}
	</ul>
</section>
<script src="/js/pricing.js"></script>
