---
layout: default
---

<header class="{{ page.header_class }}">
	{% include navigation/top.html %}
	{% include components/hero/main.html image="" heading="Зарабатывайте в 2 раза больше" subtitle="Монетизируйте внеурочную работу. <br>Получайте до 90% с оплат клиентов, которые пришли по вашей рекомендации." button="Зарегистрироваться онлайн" video="gpmWyZvOU3g" %}
</header>

{{ content }}

{% include components/cta/main.html text="Зарабатывайте хорошие деньги" button="Зарегистрироваться онлайн" %}
